.sy-theme-background {
    background-color: #20a0ff!important
}

.sy-theme-background-baseSilver {
    background-color: #8391a5!important
}

.sy-theme-border {
    border-color: #20a0ff!important
}

.sy-theme-text {
    color: #20a0ff!important
}

.sy-theme-hover:hover {
    color: #20a0ff!important
}

.sy-theme-active:active {
    color: #20a0ff!important
}

.sy-theme-focus:focus {
    color: #20a0ff!important
}

.sy-theme-lightBackground {
    background-color: #edf7ff!important
}

.sy-theme-lightBackground-hover:hover {
    background-color: #edf7ff!important
}

.sy-theme-extraLightGray {
    background-color: #eef1f6!important
}

.sy-theme-table tbody tr:hover>td {
    background-color: #eef1f6!important
}

.sy-theme-tableBorder {
    border-color: #dfe6ec!important
}

.sy-el-navItemBg {
    background-color: #1c8de0!important;
}


/* 自定义表格样式 */

table.sy-base-table.hover tbody tr:hover>td,
table.sy-base-table-border.hover tbody tr:hover>td {
    background-color: #eef1f6!important
}

table.sy-base-table,
table.sy-base-table-border,
table.sy-base-sub-table,
table.sy-base-sub-table-border {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    table-layout: fixed;
    line-height: 36px;
    border-top: 1px solid #dfe6ec;
    border-left: 1px solid #dfe6ec;
    border-right: 1px solid #dfe6ec;
}

table.sy-base-table thead tr th,
table.sy-base-table-border thead tr th,
table.sy-base-sub-table thead tr th,
table.sy-base-sub-table-border thead tr th,
table.sy-base-table thead tr td,
table.sy-base-table-border thead tr td,
table.sy-base-sub-table thead tr td,
table.sy-base-sub-table-border thead tr td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #eef1f6;
    min-height: 36px;
}

table.text-over thead tr th,
table.text-over thead tr td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #eef1f6;
}

table.sy-base-table tr td,
table.sy-base-table-border tr td,
table.sy-base-sub-table tr td,
table.sy-base-sub-table-border tr td {
    overflow: hidden;
    min-height: 36px;
}

table.sy-base-table tbody tr:nth-child(even) td,
table.sy-base-table-border tbody tr:nth-child(even) td,
table.sy-base-sub-table tbody tr:nth-child(even) td,
table.sy-base-sub-table-border tbody tr:nth-child(even) td {
    background-color: #fafafa;
}

table.sy-base-table tbody tr:nth-child(even) td table.sy-base-table tbody tr:nth-child(odd) td,
table.sy-base-table-border tbody tr:nth-child(even) td table.sy-base-table-border tbody tr:nth-child(odd) td,
table.sy-base-sub-table tbody tr:nth-child(even) td table.sy-base-sub-table tbody tr:nth-child(odd) td,
table.sy-base-sub-table-border tbody tr:nth-child(even) td table.sy-base-sub-table-border tbody tr:nth-child(odd) td {
    background-color: #fff;
}

table.sy-base-table tr td,
table.sy-base-table tr th {
    text-align: center;
    color: #666;
    background-color: #fff;
    border-bottom: 1px solid #dfe6ec;
    min-height: 36px;
}

table.sy-base-table tr th {
    background-color: #EDEDED;
}

table.sy-base-table-border {
    border-right: 0;
}

table.sy-base-table-border tr td,
table.sy-base-table-border tr th {
    text-align: center;
    color: #666;
    background-color: #fff;
    border-right: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
    min-height: 36px;
}

table.sy-base-table-border tr th {
    background-color: #EDEDED;
}

table.sy-base-sub-table,
table.sy-base-sub-table-border {
    border: 0;
}

table.sy-base-sub-table tr td:last-child,
table.sy-base-sub-table-border tr td:last-child {
    border-right: 0;
}

table.sy-base-sub-table tr:last-child td,
table.sy-base-sub-table-border tr:last-child td {
    border-bottom: 0;
}

table.sy-base-table tr td table.sy-base-table tr:first-child td,
table.sy-base-table tr th table.sy-base-table tr:first-child td {
    border-top: none
}

table.sy-base-table tr td table.sy-base-table tr:last-child td,
table.sy-base-table tr th table.sy-base-table tr:last-child td {
    border-bottom: none
}

table.sy-base-table tr td table.sy-base-table tr td:first-child,
table.sy-base-table tr th table.sy-base-table tr td:first-child {
    border-left: none
}

table.sy-base-table tr td table.sy-base-table tr td:last-child,
table.sy-base-table tr th table.sy-base-table tr td:last-child {
    border-right: none
}

table.sy-base-table-border tr td table.sy-base-table-border,
table.sy-base-table-border tr th table.sy-base-table-border {
    border: none;
}

table.sy-base-table-border tr td table.sy-base-table-border tr:first-child td,
table.sy-base-table-border tr th table.sy-base-table-border tr:first-child td {
    border-top: none
}

table.sy-base-table-border tr td table.sy-base-table-border tr:last-child td,
table.sy-base-table-border tr th table.sy-base-table-border tr:last-child td {
    border-bottom: none
}

table.sy-base-table-border tr td table.sy-base-table-border tr td:first-child,
table.sy-base-table-border tr th table.sy-base-table-border tr td:first-child {
    border-left: none
}

table.sy-base-table-border tr td table.sy-base-table-border tr td:last-child,
table.sy-base-table-border tr th table.sy-base-table-border tr td:last-child {
    border-right: none
}


/* 网站 */


/* .sy-po-ztree-site-category .level0>span.button.ico_open:before,
.sy-po-ztree-site-category .level0>span.button.ico_close:before {
    color: #1c8de0;
    font-size: 20px;
}

.publish .sy-po-ztree-site-categoty_ico_open::before,
.publish .sy-po-ztree-site-category_ico_close::before{
    content: "\f015";
    display: inline-block;
    color: #1c8de0;
    font-size: 20px;
}
.publish .sy-po-ztree-site-categoty_ico_open,
.publish .sy-po-ztree-site-category_ico_close{
        font: normal normal normal 14px/1 FontAwesome;
        margin-right: 5px;
        display: inline-block;
}
.publish .ico_open,
.publish .ico_close,
.publish .ico_docu{
    color: #1c8de0;
} */